<footer
  class="bg-cover bg-[url('/images/footer.webp')] w-screen h-[400px] flex flex-col justify-center items-center text-white"
>
  <div>
    <p>Todos los derechos reservados</p>
  </div>
</footer>
