---
import { SPONSORS } from "../consts/sponsors";

const primeraRow = SPONSORS.slice(0, 5);
const segundaRow = SPONSORS.slice(5);
---

<section class="max-w-xl mx-auto py-8">
  <h2 class="mb-4 text-4xl font-light text-center">
    <strong class="font-normal">Patrocinadores</strong>
    del evento
  </h2>
  <div class="grid grid-cols-5 gap-4">
    {
      primeraRow.map(({ url, image, name }) => (
        <a
          href={url}
          class="size-14 hover:scale-125 transition text-[#2a1f26]  flex justify-center items-center"
          target="_blank"
        >
          uno
          <image.logo class="h-8 w-auto" />
        </a>
      ))
    }
  </div>

  <div class="grid grid-cols-6 gap-4">
    {
      segundaRow.map(({ url, image, name }) => (
        <a
          href={url}
          class="size-14 hover:scale-125 transition text-[#2a1f26]  flex justify-center items-center"
          target="_blank"
        >
          <image.logo class="h-8 w-auto" />
        </a>
      ))
    }
  </div>
</section>
