---
import "./src/styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      La velado del año V - Evento de boxeo con creadores de contenido
    </title>

    <!-- para twitter -->
    <meta
      name="description"
      content="pagina de evento de boxeo con creadores de contenido"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="nada" />
    <meta name="twitter:creador" content="#termi" />
    <meta
      name="twitter:title"
      content=" La velado del año V - Evento de boxeo con creadores de contenido"
    />
    <meta
      name="twitter:description"
      content="pagina de evento de boxeo con creadores de contenido"
    />

    <!-- oper graf -->
    <meta name="og:creador" content="#termi" />
    <meta
      property="og:title"
      content=" La velado del año V - Evento de boxeo con creadores de contenido"
    />
    <meta
      property="og:description"
      content="pagina de evento de boxeo con creadores de contenido"
    />
    <meta
      property="og:image"
      content="https://media2.giphy.com/media/v1.Y2lkPTUwMjgyMjFjcnYzc3hvMWs4ejdieHhrdzE3eW9lamxzdnNlZjd1aGMxeGNkejVuaiZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/HrfPJcCI1ykdtH6LOW/100w.gif"
    />

    <link rel="shortcut icon" href='favicon.svg"' type="image/x-icon" />
  </head>
  <body class="">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
